.loginside-navbar-home-side-navbar {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 200px;
  height: 100%;
  display: flex;
  z-index: 200;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #06283D;
}
.loginside-navbar-home-navlink {
  display: contents;
}
.loginside-navbar-home-l-o-g-o {
  top: var(--dl-space-space-unit);
  left: 0px;
  right: 0px;
  width: 120px;
  height: 100px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  text-decoration: none;
}
.loginside-navbar-home-image {
  top: -49px;
  left: -26px;
  width: 177px;
  height: 221px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.loginside-navbar-home-navlink1 {
  display: contents;
}
.loginside-navbar-home-dashboard {
  top: 140px;
  width: 90%;
  height: var(--dl-size-size-small);
  margin: auto;
  display: flex;
  padding: 0px;
  position: absolute;
  box-shadow: 0px 2px 10px 0px #000000;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: 0px;
  justify-content: flex-start;
  text-decoration: none;
}
.loginside-navbar-home-dashboard:hover {
  background-color: #14a9ff;
}
.loginside-navbar-home-icon {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 15px;
  width: 24px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
}
.loginside-navbar-home-button {
  top: 31%;
  left: 30%;
  color: rgb(255, 255, 255);
  padding: 0px;
  position: absolute;
  border-width: 0px;
  font-size: 15.4px;
  background-color: transparent;
}
.loginside-navbar-home-navlink2 {
  display: contents;
}
.loginside-navbar-home-user {
  top: 210px;
  width: 100%;
  height: var(--dl-size-size-small);
  margin: auto;
  display: flex;
  padding: 0px;
  position: absolute;
  box-shadow: 0px 2px 5px 0px #000000;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-primary-500);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-image: linear-gradient(270deg, rgba(189, 195, 199, 0.27) 0.00%,rgba(44, 62, 80, 0) 100.00%);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 8px;
  border-bottom-width: 0px;
}
.loginside-navbar-home-user:hover {
  background-color: #14a9ff;
}
.loginside-navbar-home-button1 {
  top: 31%;
  left: 36%;
  color: rgb(255, 255, 255);
  width: auto;
  padding: 0px;
  position: absolute;
  text-align: center;
  border-width: 0px;
  background-color: transparent;
}
.loginside-navbar-home-icon02 {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: var(--dl-space-space-oneandhalfunits);
  width: 24px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
}
.loginside-navbar-home-projects {
  top: 280px;
  width: 90%;
  height: var(--dl-size-size-small);
  margin: auto;
  display: flex;
  padding: 0px;
  position: absolute;
  box-shadow: 0px 2px 5px 0px #000000;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.loginside-navbar-home-projects:hover {
  background-color: #14a9ff;
}
.loginside-navbar-home-button2 {
  top: 31%;
  left: 33%;
  color: var(--dl-color-gray-white);
  width: auto;
  padding: 0px;
  position: absolute;
  text-align: center;
  border-width: 0px;
  font-size: 15.3px;
  background-color: transparent;
}
.loginside-navbar-home-icon04 {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 15px;
  width: 24px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
}
.loginside-navbar-home-message {
  top: 350px;
  width: 90%;
  height: var(--dl-size-size-small);
  margin: auto;
  display: flex;
  padding: 0px;
  position: absolute;
  box-shadow: 0px 2px 5px 0px #000000;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.loginside-navbar-home-message:hover {
  background-color: #14a9ff;
}
.loginside-navbar-home-button3 {
  top: 31%;
  left: 33%;
  color: var(--dl-color-gray-white);
  width: auto;
  padding: 0px;
  position: absolute;
  text-align: center;
  border-width: 0px;
  background-color: transparent;
}
.loginside-navbar-home-icon06 {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 15px;
  width: 24px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
}
.loginside-navbar-home-events {
  top: 420px;
  width: 90%;
  height: var(--dl-size-size-small);
  margin: auto;
  display: flex;
  padding: 0px;
  position: absolute;
  box-shadow: 0px 2px 5px 0px #000000;
  transition: 0.3s;
  align-items: center;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.loginside-navbar-home-events:hover {
  background-color: #14a9ff;
}
.loginside-navbar-home-button4 {
  top: 31%;
  left: 33%;
  color: var(--dl-color-gray-white);
  width: auto;
  padding: 0px;
  position: absolute;
  text-align: center;
  border-width: 0px;
  background-color: transparent;
}
.loginside-navbar-home-icon08 {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 15px;
  width: 24px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
}
.loginside-navbar-home-reports {
  top: 490px;
  width: 90%;
  height: var(--dl-size-size-small);
  margin: auto;
  display: flex;
  padding: 0px;
  position: absolute;
  box-shadow: 0px 2px 5px 0px #000000;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.loginside-navbar-home-reports:hover {
  background-color: #14a9ff;
}
.loginside-navbar-home-button5 {
  top: 31%;
  left: 33%;
  color: var(--dl-color-gray-white);
  width: auto;
  padding: 0px;
  position: absolute;
  text-align: center;
  border-width: 0px;
  background-color: transparent;
}
.loginside-navbar-home-icon10 {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 15px;
  width: 24px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
}
.loginside-navbar-home-payments {
  top: 560px;
  width: 90%;
  height: var(--dl-size-size-small);
  margin: auto;
  display: flex;
  padding: 0px;
  position: absolute;
  box-shadow: 0px 2px 5px 0px #000000;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.loginside-navbar-home-payments:hover {
  background-color: #14a9ff;
}
.loginside-navbar-home-button6 {
  top: 31%;
  left: 33%;
  color: var(--dl-color-gray-white);
  width: auto;
  padding: 0px;
  position: absolute;
  text-align: center;
  border-width: 0px;
  background-color: transparent;
}
.loginside-navbar-home-icon15 {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 17px;
  width: 20px;
  bottom: 0px;
  height: 24px;
  margin: auto;
  position: absolute;
}
.loginside-navbar-home-settings {
  top: 630px;
  width: 90%;
  height: var(--dl-size-size-small);
  margin: auto;
  display: flex;
  padding: 0px;
  position: absolute;
  box-shadow: 0px 2px 5px 0px #000000;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.loginside-navbar-home-settings:hover {
  background-color: #14a9ff;
}
.loginside-navbar-home-button7 {
  top: 31%;
  left: 33%;
  color: var(--dl-color-gray-white);
  width: auto;
  padding: 0px;
  position: absolute;
  text-align: center;
  border-width: 0px;
  background-color: transparent;
}
.loginside-navbar-home-icon17 {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 15px;
  width: 24px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
}
